@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: 'Lato', sans-serif;
}
.flex {
  display:flex;
}
#main {
  position: relative;
}

header {
  position: relative;
  display: flex;
  top: 0;
  width:100%;
  min-height: 125px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background: linear-gradient(45deg, #552586, #6a359c, #804fb3, #9969c7);
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(1.3);
}



@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
    max-width:600px;
    width:100%;
  }
}

img {
  width:5vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 70px;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-right: 150px;
  border: 0;
  border-radius: 50%;
}
@media (max-width: 550px) {
    #features .desc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }
  
  @media (max-width: 650px) {
    #features {
      margin-top: 0;
    }
  }
@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}
ul li {
  position: relative;
  display: inline;
  padding:30px;
  justify-content: right;
}

.nav-link {
  color:#f5f5f5;
  font-size:20px;
  text-decoration:none;
}

@media (max-width: 600px) {
    .nav-link {
        display:flex;

        font-size:10px;
    }
}

h1, form {
  text-align: center;
}
#mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

#email {
  margin-top: 20px;
  max-width: 275px;
  width: 87vw;
  padding: 5px;
}

#mail input [type="submit"] {
  max-width:175px;
  width: 100%;
  height: 75px;
  padding: 10px;
  border: 0;
  margin: 15px 0;
}
#submit {
  border:0;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #6a359c;
  font-size: 1rem;
  max-width:150px;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 0;
  margin: 15px 0;
  font-weight: 700;
}
#submit:hover {
  background-color:#f5f5f5;
  color: #552586;
  transition: background-color 0.5s;

  cursor: pointer;
}

#features {
  color:#f5f5f5;
  margin-top: 30px;
  background-color: #9969c7;
  border-radius: 0 0 95% 95% / 0 0 15% 15%;
}

@media (max-width:600px) {
  #features h2,p {
    margin-left:24px;
    max-width: 600px;
    width:100%;
    font-size: 16px;
    text-align:center;
  }
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color:#fbfbf9;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

pre {
    position: relative;
    font-size:11px;
    color:gray;
    text-align:center;
}
@media (max-width: 600px) {
    pre {
    display: none;
    }
}

#how-it-works {
  display: flex;
  justify-content: center;
  padding:40px;
  margin-top: 50px;
}

iframe {
  max-width:600px;
  width:100%
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display:flex;
  flex-direction:column;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  padding:0px;
  margin: 10px;
  max-width: 315px;
  width: 100%;
  text-align: center;
  
}
.product:hover {
    background-color: #9969c7;
    color:#f5f5f5;
    transition-delay: 0.1s;

  }
.product h3 {
  padding:20px 10px;
  font-size: 25px
}

.product ol li{
    display: flex;
    text-align: center;
    padding:6px;
}

.level {
  background-color: lightgray;
  color: black;
  padding: 15px 0;
  width: 100%;
  font-weight: 800;
}

.product > button {
  margin: 15px 0;
  background-color: purple;
  color:whitesmoke;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  padding: 15px;
  cursor: pointer;
}

.product > button:hover {
  background-color: #f5f5f5;
  color: purple;
  text-decoration: bold;
  font-weight: 600;
  transition: background-color 0.7s;
}

@media (max-width: 600px) {
  #pricing {
    flex-direction: column;
    max-width:600px;
    width:100%;
  }
  .product {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}


footer {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: flex-end;
  background-color: lightgray;
  padding:20px;
  margin-top: 20px;
  margin-left: 10px;
}

span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: #444;
}

footer ul li a {
  color:black;
  text-decoration: none;
}

footer ul li a:hover {
  color:#cd7f32;
  text-decoration: none;
}